

.superbloom .wrapper.spotlight:nth-child(2n - 1) .inner,
.milo .wrapper.spotlight:nth-child(2n - 1) .inner,
.dingo .wrapper.spotlight:nth-child(2n - 1) .inner,
.process .wrapper.spotlight:nth-child(2n - 1) .inner
{
  text-align: left;
}




.content .info-container {
  display: flex;
  width: 100%;
  font-size: 1.1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  font: inherit;
  margin-bottom: 4em;
  padding-bottom: 2em;
}

.info-container .info {
  flex: 4;
      font: inherit;
      font-size: 1.1em;
}

.info-container .info-type {
  flex: 1;
      font: inherit;
      font-size: 1.1em;
}

.content .info-container b {
  margin-right: 10px ;
}


/* ==================================================
   SUPERBLOOM
================================================== */

body.superbloom {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/superbloom-header.png");
  }

@media screen and (max-width: 1280px) {

  .superbloom #banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/superbloom-header.png");
  }

}



/* ==================================================
   Milo
================================================== */

body.milo {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/milo-header.png");
  }


@media screen and (max-width: 1280px) {

  .milo #banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/milo-header.png") !important;
  }

}


/* ==================================================
   Dingo
================================================== */

body.dingo {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/dingo-header.png");
  }


@media screen and (max-width: 1280px) {

  .dingo #banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/dingo-header.png") !important;
  }

}

/* ==================================================
   UX Process
================================================== */

body.process {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/process-header.png");
  }


@media screen and (max-width: 1280px) {

  .process #banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/process-header.png") !important;
  }

}



/* ==================================================
   RESUME
================================================== */



/*
  Timeline
*/

.timeline {
  position:relative;
  padding-top:40px;
  padding-bottom:40px;
  text-align: left;
  width: 100%;
}

.timeline:before {
    content:'';
    position:absolute;
    top:0;
    left:28px;
    height:100%;
    width:4px;
    background: #e8e8e891;
    border-radius: 8px;
  }

@media only screen and (min-width: 768px) {

.timeline:before {
      left:50%;
      margin-left:-2px
  }
    }

.timeline__block {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom: 100px;
  }

@media only screen and (min-width: 768px) {

.timeline__block {
      flex-wrap:nowrap;
      align-items:flex-start;
      justify-content:space-between
    
  }
    }

.timeline__block:last-child {
      margin-bottom:0;
    }

@media only screen and (min-width: 768px) {

.timeline__block:nth-child(odd) .timeline__content {
          order:-1
      }
        }

.timeline__block:nth-child(odd) .timeline__info {
      }

.timeline__block:nth-child(even) .timeline__content {

      }

@media only screen and (min-width: 768px) {

.timeline__block:nth-child(even) .timeline__info {
          order:-1;
          justify-content:flex-end
      }
        }

.timeline__image {
    position:absolute;
    top:0;
    left:0;
    height: 100px;
    width: 100px;
    background-color:#d6d6d6;
    border-radius:50%;
    /* border: 2px solid #ffffff; */
    box-shadow: 0px 5px 3px 0 rgba(0,0,0,0.25);
  }

@media only screen and (min-width: 768px) {

.timeline__image {
      left:50%;
      margin-left: -50px;
  }
    }

.timeline__content,
  .timeline__info {
    width:calc(100% - 80px);
    margin-left:80px;
  }

@media only screen and (min-width: 768px) {

.timeline__content,
  .timeline__info {
      width:46%;
      width: calc(50% - 80px);
      margin-left:0
  }
    }

.timeline__content {
    margin-bottom:10px;
    padding: 40px;
    background-color: #fffffffa;
    border:1px solid #e8e8e8;
    border-radius: 6px;
    box-shadow: 0px 5px 3px 0 rgba(0,0,0,0.25);
  }

@media only screen and (min-width: 768px) {

.timeline__content {
      margin-bottom:0
  }
    }

.timeline__content p {
      margin-top:10px;
      margin-bottom:10px;
      color: #292a32;
      font-family: "Source Sans Pro";
      font-size: .9em;
    }

.timeline__content p:last-child {
        margin-bottom:0;
      }

.timeline__info {
    display:flex;
    color: #ffffff;
  }

@media only screen and (min-width: 768px) {

.timeline__info {
      align-items:center;
      min-height:60px
  }
    }

.timeline__headline {
    margin-top:0;
    margin-bottom: 15px;
    text-transform:uppercase;
    font-weight:700;
    color: black;
    font-size: .9em;
  }

.timeline__date {
    font-size: 1em;
    opacity:0.5;
  }



/* ==================================================
   GIFS PLAYER
================================================== */

.wide .gif {
  width: 60%;
  margin: auto;
}